@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

*{margin:0;
	padding:0;
	box-sizing:border-box;}

.body {font-family: sans-serif;}

.content {
	width: 100%;
	min-height: 100vh;	
	position:relative;
}

.contentleft, .contentright {
	width: 50%; float:left;
}

.contentleft, .contentright{
	display:flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
}

.contentright {
	padding-left:90px;
}

header h1 {
	display: inline-block;
}


.navbar a {
	text-decoration: none;
	color: black;
}

.navbar {
	float:right;
	padding-top: 90pxow ;
}
.clearfix:after{content:""; display:block; clear:both;}

#content1 {background-color: #90E4EB;}

#content2 {background-color: #E8C7A2;}

#content3 {background-color: #E8FFBE;}

.graphic {width:120px; height:120px;
		background-color:white;
		position:absolute;
		top:50%;
		left:50%; transform:translate(-50%,-50%);
		border-radius:50%}

.navbar {text-align: right;}
			
.navlink {
		font-family: roboto;
		margin-right:20px;
		font-size: 18px
		margin-bottom:18px
		color-white;
	}

.footer {font-family: roboto;
		height: 50px;
		background-color: white;
		text-align: center;
		float: center;
		margin-top:25px}

.sectiontitle  {font-size: 40px;
				vertical-align: middle;
				text-align:center;}

.bethlogo {padding-top: 18px;}

.contentleft {

	font-family: shrikhand; cursive;
	font-size: 100px;
}


.contentright {

	font-family: roboto;
	font-size: 16px;
	line-height: 1.5em;
	background-color: white;
}