@import url('https://fonts.googleapis.com/css?family=Roboto|Shrikhand');

/*CSS Universal reset*/
*{margin:0;
	padding:0;
	box-sizing:border-box; 
} 

body {
	font-family: roboto;
	font-size: 16px; /*16px=1em*/
	background-color: black
}

nav{
	float:right;
	padding-top: 90px;
	text-align: center;
	font-size: 1em
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: .5em;
	margin-right:1.5em;
	font-family:roboto;
	margin-bottom: 1em;
	float:center;
	letter-spacing: 2px
	font-weight: 800px;
}

nav a:hover { 
background-color: #E8FFBE;
color: black; 
}


header h1 {
	display: inline-block;
}


ul {
	list-style-type: none;
}


footer {
	font-family: roboto;
	color: white;
	height: 50px;
	background-color: black;
	text-align: center;
	float: center;
	margin-top:25px
}

.content {
	width: 100%;
	min-height: 100vh;	
	position:relative;
}

.contentleft, .contentright {
	width: 50%; 
	float:left;
	display:flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh; /* set min-height: initial; in media query */
	padding:0 90px;
	/*font-size: 1em;*/
}

.content:nth-of-type(even) > * {
	float:right;
}

.clearfix:after {
	content:""; 
	display:block; 
	clear:both;}

#content1 {
	background-color: #90E4EB;
}

#content2 {
	background-color: #E8C7A2;
}

#content3 {
	background-color: #E8FFBE;
}

.graphic {
	width:120px; height:120px;
	background-color:white;
	position:absolute;
	top:50%;
	left:50%; transform:translate(-50%,-50%);
	border-radius:50%;
}


.sectiontitle  {
	font-size: 40px;
	vertical-align: middle;
	text-align:center;
}

.bethlogo {
	padding-top: 18px;
}

.contentleft {
/*	font-family: shrikhand, cursive;*/
	/*font-size: 100em;*/
}

.sectiontitle {
	font-family: shrikhand, cursive;
	font-size: 3em;
}

.contentright {
	font-family: roboto;
	font-size: 16px;
	line-height: 1.5em;
	background-color: white;
}


.workskills {
	list-style: none;
	padding: 0;
	margin: 0;
}

.skill {
	float: left;
  	width: 50%;
  	height: 50%;
  	/*outline: 3px solid #222;*/
  	text-align: center;
  	line-height: 50vh;
  	font-size: 1.5em;
  	font-family: roboto;
  	text-transform: uppercase;
  	color: white;
}


#grid {
	padding: 0;
}


#firstbox {
	background-image: url(../images/astronomy-dark.jpg);
	background-size: cover; /*or try 600px*/
	background-position: center;
}

#secondbox {
	background-image: url(../images/cracks-design.jpg);
	background-size: cover; /*or try 600px*/
	background-position: center;
}


#thirdbox {
	background-image: url(../images/dark-marble.jpg);
	background-size: cover; or try 600px
	background-position: center;
}


#fourthbox {
	background-image: url(../images/color-conifer.jpg);
	background-size: cover; or try 600px
	background-position: center;
}

/*start of blogg css*/


body {
  font-family: roboto;
  padding: 16px;
  background: black
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn { 
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.postimage {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card a {
	color: #E8C7A2;
	text-decoration: none;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
}














/*.blogpage{
	font-family: "roboto", Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	background-color:black;
}

main {
	float: left;
	background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 300;
}

article {
	padding: 1em;
}

article + article {
	border-top: 1px solid; #ccc;
}

article img {
	max-width: 40%;
}

article a {
	color: #E8C7A2;
	text-decoration: none;
}

aside {
	padding-top: 1em;
	float: right;
	width: 30%;
}

ul {
	padding-left: 1em;
}



#blogimages {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}
*/